.bgPhoto{
    background-color: #76cff0;
    /* height: auto; */
    background-size:cover ;
    width: 100%;
}


.headingRight {
    text-align: right;
}

.cvContent{
    padding-top:  30%;
    text-align: left;
    text-shadow: 2px 2px rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    text-decoration: solid;
    /* width: 100%;
    height:800px; */
    /* height: 40rem; */
    width: 90vw;
    height: 100vh;
    padding-left: 2%;
}


.myContainer {
    background: url("MyPhoto.jpg");
    
    background-size:contain ;
    background-repeat: no-repeat;
    background-blend-mode: lighten ;
}

.progress{
    height: 2px;
}

.careerBG{
    background-color: #FFF8E3;

    /* background-color: black; */
    /* margin-top: 0; */
    /* border-top: 0; */


}

.containerBG{
    background-color: #F5EEE6;
    /* margin-top: 5px; */

}

.faded {
    box-shadow: 4px 0 5px #F3D7CA,  -4px 0 5px #F3D7CA;
}

.paragraph{
    text-align: center;
    margin: 0;

}
.serif{
    font-family: sans-serif;

}

.box-wrapper{
    display: flex;
    max-height: 260px;
    max-width: 200px;
    overflow-x: auto;
    align-items: center;
}

.box-item{
    height: 16rem;
    width: 40rem;
    margin-right:5px ;
}

.nav-style{
    position: fixed;
    background-color: rgb(250, 239, 239);
    width: 100%;
    /* opacity: 1; */
}

.nav-items{
    color: #F5EEE6;
}

 .nav-item {
    background-color: #131313;
    color: #F5EEE6;

 }
 .nav-items :hover {
    background-color: #232424;
    /* color: #52dac3; */
    color: #dfe23a;

 }
 .nav-item-main :hover{
    color: #4ee7f5;

 }

 .flex-container{
    display: flex;
}

#right-container{
     /* flex-direction: row-reverse; */
margin-left: auto;
text-align: right;
 }

 .name-color{
    color: #4e78f5;
 }

 #contactMe{
    background-color: #F5EEE6;
 }

 #projects{
     background-color: #FFF8E3;
    /* font-family: sans-serif; */

    }
.projectContainer{
    background-color: #F5EEE6;
    box-shadow: 4px 0 5px #F3D7CA,  -4px 0 5px #F3D7CA;
}
.card{
    background-color: #eff1f2;
    transition: all 0.3s ;
    /* cursor: zoom-in; */

}
.card :hover{
    /* background-color: #c7dcf5; */
    background-color: #e1e7dc;


}

#aboutMe{
    background-color: #FFF8E3;
    /* font-family: sans-serif; */


}
.aboutMeContainer{
       background-color: #F5EEE6;
    box-shadow: 4px 0 5px #F3D7CA,  -4px 0 5px #F3D7CA;

}


#contactMe{
    background-color: #FFF8E3;
    /* font-family: sans-serif; */


}

 @keyframes text-delay{
    0%{
        opacity: 0;
        transform: translateY(-80px)

    }
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
 }

 .text-animation{
    animation-name: text-delay ;
    animation-duration: 2s;
 }
 
 .text-animation2  {
    animation-name: text-delay ;
    animation-duration: 3s;
 }

 .interest :hover {
    color: rgb(50, 93, 156)
 }

 .fade-scroll{
    animation: fadeScroll linear both;
    animation-timeline: view();
    /* animation: fadeScroll ease-in-out ; */
    /* animation-duration: 3s; */
    /* animation-range: entry 50% cover 50%; */

 }

 @keyframes fadeScroll {
    /* from{
        opacity: 0;

    }
    to{
        opacity: 1;

    } */
    0% {
        opacity: 0;
        /* transform: translateY(90px) */
        
    }
    40%{
        opacity: 1;
        
    }
    100%{
        /* transform: translateY(0) scale(1); */

    }
 }